html {
  font-family: sans-serif;
}

/* Your CSS below here */

.cool-box {
  width: 200px;
  height: 150px;

margin: 100px auto;

display: flex;
justify-content: center;
align-items: center;

font-size: 1.1rem;

background-color: #d40000;

color: white;
text-shadow: 1px 1px 2px black;

border: 1px solid #b30000;
background: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.2) 100%), #d40000;
box-shadow: 
        3px 3px 5px rgba(0, 0, 0, 0.5), 
        inset 2px 2px 5px rgba(255, 255, 255, 0.3),
        inset -2px -2px 5px rgba(0, 0, 0, 0.3); 
}
